---
title: "Anniversario | Eventi | DYME Music Agency"
description: "Rendi memorabile un giorno importante"
---
<%= partial(:'partials/page-header', :locals => {
  :urlRoot => "",
  :backBtn => "TORNA ALLA HOME PAGE",
  :cta => "RICHIEDI PREVENTIVO",
  :h1 => "ANNIVERSARIO",
  :category => "EVENTI",
  :subheadline => "Rendi memorabile un giorno importante",
  :img_url => "/images/anniversary_header.jpg"
} ) %>
<%= partial(:'partials/page-intro-paragraph', :locals => {
  :content => "<p>L’anniversario di matrimonio, il 18° compleanno, il battesimo, sono solo alcuni dei <em>momenti più importanti</em> della nostra vita. Perché non sottolineare questi momenti con la giusta colonna sonora?
<br><br>La musica ha un ruolo fondamentale nell’accompagnare il <em>ricordo felice</em> di quella giornata. Affidati all’esperienza dei musicisti DYME, sapranno consigliarti e guidarti nella scelta ideale per accompagnare questo momento. <em>Qualsiasi canzone è adatta</em>, se è in grado di emozionarti.
</p>
    <br>
    <p>Ogni particolare viene curato da noi per permettervi di non pensare a nulla. La nostra serietà e professionalità sono a vostra disposizione per:
<br><br>
<ul>
  <li><em>Arrangiamento</em> brani musicali</li>
  <li><em>Composizione</em> brani musicali ad hoc</li>
  <li><em>Sopralluogo</em> location</li>
  <li>Studio della <em>soluzione musicale</em> più adatta all’evento</li>
</ul>
</p>"
}) %>
<%= partial(:'partials/formation-section', :locals => {
  :title => "Formazione",
  :list_a => {
    :a1 => "PIANOFORTE SOLO",
    :a2 => "PIANOFORTE E VIOLINO",
    :a3 => "ARPA E VIOLINO",
    :a4 => "PIANOFORTE E VOCE",
    :a5 => "DUO/TRIO JAZZ",
    :a6 => "TRIO PIANOFORTE VIOLINO E VOCE"
  },
  :list_b => {
    :b1 => "TRIO D’ARCHI",
    :b2 => "QUARTETTO D’ARCHI",
    :b3 => "PIANOBAR",
    :b4 => "DJ-SET",
    :b5 => "DJ-SET CON VOCALIST"
  }
}) %>
<%= partial(:'partials/contact-section') %>
