---
title: "Ceremony | Weddings | DYME Music Agency"
description: "Make your special day unforgettable"
---
<%= partial(:'partials/page-header', :locals => {
  :urlRoot => "en/",
  :backBtn => "RETURN TO THE HOME PAGE",
  :cta => "REQUEST A QUOTE",
  :h1 => "CEREMONY",
  :category => "WEDDINGS",
  :subheadline => "Make your special day unforgettable",
  :img_url => "/images/ceremony_header.jpg"
} ) %>
<%= partial(:'partials/page-intro-paragraph', :locals => {
  :content => "<p>
    The music for the ceremony, both religious and civil, has a great evocative power. It is essential to find the ideal music.
    </p>
    <br>
    <p>
    The big day has arrived. Shining in your wedding dress, you finally
make your entrance. Step by step, you advance with your elegant
shoes towards your soul mate who awaits you at the altar, doing
everything possible to hold back the tears.
    </p>
    <br>
    <p>
    To increase the emotionality of the moment: <em>the background music</em>.
Here are some songs suitable to accompany you in one of the most
exciting moments of your life, that of the “I do“.</p>"
}) %>
<section class="page-article-text page-paragraph">
  <div class="card-container-horiz">
    <div id="classics-card-cerimony" class="card card-horiz card-big" data-tilt data-tilt-perspective="6000">
      <h3>Timeless Classics</h3>
    </div>
  </div>
  <p>There are some timeless songs, those that always make us think of
altars full of flowers and lace wedding gowns. These songs are usually written by
great classical music composers whose songs have always been associated with
marriage, and have in fact often been used as soundtracks for famous films. These
songs are ideal pieces for any moment of the ceremony, especially for the bride&#39;s
entrance, the exchange of rings, the moment of communion and the exit of the
newlyweds. Here are the most highly requested songs:</p>
    <div class="song-list">
      <ul>
        <li>Wedding March (Lohengrin) – Richard Wagner </li>
        <li>Wedding March – Felix Mendelssohn</li>
        <li>Canon in D – Johann Pachelbel</li>
        <li>Hallelujah – Leonard Cohen</li>
        <li>Air on the G string – Johann Sebastian Bach</li>
        <li>Panis Angelicus, Op.12 – César Franck</li>
        <li>Ave Maria – Franz Schubert</li>
      </ul>
      <ul>
        <li>Alleluia, Z. S14 – Henry Purcell</li>
        <li>Fratello Sole, Sorella Luna – Riz Ortolani</li>
        <li>Laudate Dominum – Wolfgang Amadeus Mozart</li>
        <li>Lascia ch’io pianga – George Frideric Handel</li>
        <li>Adagio in G Minor - Tommasi Albinoni</li>
        <li>Primavera - Antonio Vivaldi</li>
        <li>Méditation de Thaïs - Jules Massenet</li>
      </ul>
    </div>
</section>
<section id="cerimony-formation" class="page-article-text page-paragraph">
  <div class="bg-section-img"></div>
  <div class="card-container-horiz">
  <h3>Which ensemble to choose</h3>
  <p>Le possibilità sono tante, con <em>Cantante</em> o senza, e in genere gli strumenti più quotati sono <em>il Violino, il Flauto, il Pianoforte o l’Arpa</em>, ma anche <em>il Trio e il Quartetto d’archi</em> sono adatti all’occasione. Questa scelta renderà la cerimonia ancora più <em>principesca e indimenticabile</em>. Anche se tutti i brani possono essere arrangiati per i diversi ensemble, ce ne sono alcuni che, secondo noi, sono particolarmente efficaci:</p>
  <p>With or without a <em>singer</em>, there are many ensemble possibilities, and
generally the most popular instruments are the <em>violin</em>, the <em>flute</em>, the <em>piano</em> or the <em>harp</em>,
but also <em>the string trio or quartet</em> are suitable for the occasion. This choice will make
the ceremony even more <em>sumptuous and unforgettable</em>. While all songs can be
arranged for different ensembles, there are some that we believe are particularly
effective:</p>
    <div class="song-list">
      <ul>
        <li>Arioso, Adagio in G for 4 Cellos, BWV 156 – Johann Sebastian
      Bach</li>
        <li>Spring - Antonio Vivaldi</li>
        <li>Canon in D – Johann Pachelbel</li>
        <li>Méditation de Thaïs – Jules Massenet</li>
      </ul>
      <ul>
        <li>Adagio in G Minor – Tomaso Albinoni</li>
        <li>Ode to Joy – Ludwig Van Beethoven</li>
      </ul>
    </div>
</section>
<section id="cerimony-alternatives" class="page-article-text page-paragraph">
  <div class="bg-section-img"></div>
  <div class="card-container-horiz">
  <h3>Other alternatives</h3>
    <p>An original alternative is Gospel, usually a religious genre, born in African
  American churches in the eighteenth century and whose <em>engaging rhythm</em>
  can give a <em>sparkling</em> and <em>cheerful touch</em> to your wedding. If you plan to have a
  more gospel repertoire, we can advise you on the songs (some of which you
  will be familiar with thanks to the film "Sister Act"). We challenge you not to
  move your bouquet to the rhythm of the music!
  <br></p>
  <p>Here is a short list:</p>
      <div class="song-list">
        <ul>
          <li>Oh Happy Day – The Edwin Haekins Singers</li>
          <li>I Will Follow Him –Little Peggy March</li>
          <li>When God Made You – Daywind</li>
        </ul>
        <ul>
          <li>Hail, Holy Queen – New Sisters Gospel Choir</li>
          <li>Joyful Joyful – ACM Gospel Choir</li>
          <li>My life, my love, my all – The Gospel House</li>
        </ul>
      </div>
      <div class="par">
        <p>The selection of the music for the <em>ceremony</em> is not always a
  given, and requires the right attention. It is important that the pieces
  chosen have an <em>emotional</em> value for the occasion and that they adapt
  to any selected readings. Just like all the other details, from the
  decorating of the location to the guest list, and then to the flowers in
  the church, the centerpieces and the bride&#39;s bouquet, the music must
  also meet your tastes.</p><br>
        <p>The added value of DYME, beyond the high level of professionalism,
  is the total <em>customization</em> and the real <em>musical advice</em> offered to
  wedding planners and future spouses in creating the perfect
  soundtrack for their most important day.</p>
    </div>
  </section>
  <%= partial(:'partials/formation-section', :locals => {
    :title => "Ensembles",
    :list_a => {
      :a1 => "PIANO",
      :a2 => "PIANO AND VOCALIST",
      :a3 => "PIANO VIOLIN AND VOCALIST",
      :a4 => "HARP AND VIOLIN",
      :a5 => "HARP AND FLUTE"
    },
    :list_b => {
      :b1 => "STRING TRIO",
      :b2 => "STRING QUARTET",
      :b3 => "PIANO AND STRING TRIO",
      :b4 => "ORGAN"
    }
  }) %>
<%= partial(:'partials/contact-section-en') %>