---
title: "Cocktail Hour | Weddings | DYME Music Agency"
description: "Cocktail hour deserves its own sound"
---
<%= partial(:'partials/page-header', :locals => {
  :urlRoot => "en/",
  :backBtn => "RETURN TO THE HOME PAGE",
  :cta => "REQUEST A QUOTE",
  :h1 => "COCKTAIL HOUR",
  :category => "WEDDINGS",
  :subheadline => "Cocktail hour deserves its own sound",
  :img_url => "/images/aperitivo_header.jpg"
} ) %>
<%= partial(:'partials/page-intro-paragraph', :locals => {
  :content => "<p>Every moment of your day must be underlined with a music playlist that
helps to immerse the guests in the <em>right atmosphere</em>. After experiencing the
most moving moment of the day, it's time to relax and start the party.
Music is a vital aspect that needs special attention all
throughout the reception: from your arrival at the location, to the departure of
your guests.
<br><br>The Cocktail hour, in this sense, is fundamental: the music <em>must accompany
the entrance of the guests</em>, put them at ease, and create a pleasant and
relaxing atmosphere, ideal for greetings, socialization, and the first appetizers
and cocktails enjoyed while standing up.
<br><br>Whether you are just lovers of high quality music or true experts who can't
wait to show off your choice of ensemble in front of friends and relatives, you
undoubtedly know the great potential that music has of affecting the mood of
your guests. The great advantages of live music are the great <em>visual impact</em> and the
charm of live musicians, two factors that will make the reception
unforgettable.
    </p>
    <br>
    <p><em>Jazz music, in Duo or Trio ensembles</em>, is the ideal choice for many, but for
those who are not sure about the music genre for their wedding, DYME offers
numerous other possibilities. When thinking about which musical solution to
rely on for the wedding, the <em>DJ-set</em> option cannot be omitted. The latter is a
trendy choice for <em>more informal and youthful weddings</em>, especially in summer.
A choice that meets the needs of most <em>refined couples is classical music</em>.
Perfect for incurable romantics who will fill their speech with phrases of love
and anecdotes about their story, classical music will create a moment that
can brighten the day and sharpen the ears of your guests.
<br><br>
Each DYME ensemble is able to perform a playlist of <em>songs agreed</em> with the
spouses in order to satisfy any <em>musical taste</em>.</p>"
}) %>
<%= partial(:'partials/formation-section', :locals => {
  :title => "Ensembles",
  :list_a => {
    :a1 => "PIANO",
    :a2 => "PIANO AND VIOLIN",
    :a3 => "HARP AND VIOLIN",
    :a4 => "PIANO AND VOCALIST",
    :a5 => "JAZZ DUO/TRIO",
    :a6 => "PIANO VIOLIN AND VOCALIST"
  },
  :list_b => {
    :b1 => "STRING TRIO",
    :b2 => "STRING QUARTET",
    :b3 => "PIANOBAR",
    :b4 => "DJ-SET",
    :b5 => "DJ - SET AND EMCEE",
    :b6 => "PARTY BAND"
  }
}) %>
<%= partial(:'partials/contact-section-en') %>
