#page-header-bg {
  position: relative;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 435px;
  background-size: cover;
  background-position: center;
}

.top-page-btns {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  display: flex;
  margin-top: 37px;
  height: 60px;
  align-items: center;
}

.return-btn {
  display: none;
}

.home-link {
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 15px 0 15px 50px;
}

.home-link:hover {
  color: var(--secondary-accent);
}

.home-link:hover .left-arrow {
  background-color: var(--secondary-accent);
}

.home-link:hover .left-arrow::before {
  border-bottom: solid 1px var(--secondary-accent);
  border-left: solid 1px var(--secondary-accent);
}

.btn-quotation-secondary {
  background-color: var(--secondary-accent) !important;
  color: var(--off-white);
  float: right;
  position: absolute;
  right: 2.5%;
}

.left-arrow {
  position: absolute;
  height: 1px;
  left: 0;
  background-color: var(--off-white);
  transition: all 0.25s ease;
}

.left-arrow::before {
  content: '';
  position: absolute;
  left: 1px;
  border-bottom: solid 1px var(--off-white);
  border-left: solid 1px var(--off-white);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.page-title-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 40px;
  position: absolute;
  bottom: 0;
}

.page-category, .form-category {
  margin-bottom: 20px;
  text-transform: uppercase;
  display: flex;
}

.page-category p:first-child::after, .form-category p:first-child::after {
  content: '';
  height: 20px;
  background-color: var(--secondary-accent);
  border-right: 2px solid var(--secondary-accent);
  margin: 0 10px;
}

.page-category p, .form-category p {
  font-size: 26;
  font-weight: bold;
}

.page-title {
  display: block;
}

.page-title h1 {
  font-size: 80px;
  margin-right: 20px;
}

.page-title p {
  font-size: 26px;
}

.page-intro-text {
  padding-top: 20px;
  padding-bottom: 100px;
  column-count: 1;
  column-gap: 40px;
}

.page-intro-text p, .page-intro-text li {
  line-height: 32px;
}

.page-intro-text li::before {
  content: '';
  padding: 5px;
  margin-right: 6px;
  background-image: url("/images/check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.page-paragraph em {
  color: var(--secondary-accent) !important;
  font-style: normal;
}

#classics-card-cerimony {
  z-index: 100;
  background-image: url("/images/cerimony_img_classics.jpg");
}

.song-list {
  padding-top: 40px;
  display: block;
  margin-bottom: 30px;
}

.song-list ul {
  width: 100%;
  line-height: 1.6rem;
  padding: 0;
}

.song-list li::before {
  content: '';
  padding: 5px;
  margin-right: 6px;
  background-image: url("/images/note.svg");
  background-position: center;
  background-repeat: no-repeat;
}

h3 {
  margin-bottom: 20px;
}

.par {
  border-top: 1px solid var(--secondary-accent);
  margin-top: 40px !important;
  padding-top: 40px !important;
}

#cerimony-formation {
  padding-top: 30px;
}

#cerimony-formation .bg-section-img {
  top: -400px !important;
  background-image:
  linear-gradient(to bottom, var(--off-black) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, var(--off-black) 100%),
  linear-gradient(to right, var(--off-black) 0%, rgba(0,0,0,0) 20%),
url("/images/cerimony_formation.jpg");
}

#cerimony-alternatives .bg-section-img {
  background-image:
  linear-gradient(to bottom, var(--off-black) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, var(--off-black) 100%),
  linear-gradient(to right, var(--off-black) 0%, rgba(0,0,0,0) 20%),
url("/images/cerimony_alternatives.jpg");
}

@media only screen and (min-width: 600px) {
  .song-list {
    display: flex;
  }

  .song-list ul {
    width: 50%;
    padding: 0 20px;
  }

  .page-title {
    display: flex;
    align-items: baseline;
  }

  .page-title p {
    font-size: 30px;
  }

  .page-intro-text {
    column-count: 2;
  }
}

@media only screen and (min-width: 1300px) {
 .return-btn {
    display: block;
    position: relative;
    margin-left: 40px;
    z-index: 99;

    a {
      z-index: 999;
    }
  }
}
