@import "components/nav.css";
@import "components/card.css";
@import "components/form.css";
@import "components/formation-section.css";
@import "components/contact-section.css";
@import "components/footer.css";
@import "components/swiper.css";
@import "./events-page.css.scss";
@import "./home-page.css.scss";
@import "./error.css.scss";
@import "./form-page.css.scss";
@import "./thanks.css.scss";
@import "./privacy.css.scss";
@import "./materialize.css";

:root {
  --nav-width: 0;
  --secondary-accent: #BA9A40;
  --secondary-accent-hover: #997e34;
  --secondary-accent-40perc: rgba(186, 154, 64, 0.4);
  --off-white: #f0f0f0;
  --off-black: #080808;
}

@media only screen and (min-width: 1300px) {
  :root {
    --nav-width: 280px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}
