@import "components/nav.css";
@import "components/card.css";
@import "components/formation-section.css";
@import "components/contact-section.css";
@import "components/footer.css";
@import "./events-page.css";

:root {
  --nav-width: 280px;
  --secondary-accent: #BA9A40;
  --secondary-accent-40perc: rgba(186, 154, 64, 0.4);
  --off-white: #f0f0f0;
  --off-black: #080808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

a {
  color: var(--off-white);
}

body {
  background-color: var(--off-black);
  color: var(--off-white);
  display: flex;
}

#bg-hp-img {
  position: absolute;
  z-index: -10;
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-left: var(--nav-width);
}

#logo-container {
  width: 100%;
  height: 600px;
  display: inline-flex;
  align-items: center;
}

#logo-group {
  display: inline-flex;
  align-items: center;
}

#logo-group img {
  width: 247px;
  height: 134px;
  margin-right: 180px;
}

section, .formation-section {
  margin-bottom: 60px;
  position: relative;
}

section {
  width: 100%;
  padding: 0 40px;
}

section p {
  line-height: 28px;
}

h1 {
  font-size: 60px;
  line-height: 1em;
}

.underline, h1 span {
  background-image: linear-gradient(120deg, var(--secondary-accent) 0%, var(--secondary-accent) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  font-size: inherit;
  background-position: 0 95%;
  padding: 0 10px;
  left: -10px;
  transition: background-size 0.25s ease-in;
}

h1 + p {
  font-size: 24px;
  line-height: 35px;
  font-weight: normal;
  padding-top: 12px;
}

strong, em {
  font-size: inherit;
}

em {
  font-style: italic;
}

h2 {
  font-size: 60px;
}

h2 + p {
  padding: 0 80px 0 20px;
  margin: 30px 20px 50px 0;
  font-size: 24px;
  line-height: 1.6rem;
}

#weddings .bg-section-img,
#events .bg-section-img,
#cerimony-formation .bg-section-img,
#cerimony-alternatives .bg-section-img {
  position: absolute;
  width: 100%;
  height: 600px;
  top: -200px;
  z-index: -99;
  background-size: cover;
  background-position: center;
}

#weddings .bg-section-img {
  background-image:
  linear-gradient(to bottom, var(--off-black) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, var(--off-black) 100%),
  linear-gradient(to right, var(--off-black) 0%, rgba(0,0,0,0) 20%),
url("/images/weddings_bg.jpg");
}

#events .bg-section-img {
  background-image:
  linear-gradient(to bottom, var(--off-black) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, var(--off-black) 100%),
  linear-gradient(to right, var(--off-black) 0%, rgba(0,0,0,0) 20%),
url("/images/events_bg.jpg");
}

#chi-siamo h2 + p {
  padding: 0 30px;
  width: 700px;
  margin: 30px 0 50px 0;
}

.gallery-container{
  height: 500px;
}

.gallery-container:after {
  content: '';
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 100px;
  width: 1px;
  border-right: 1px solid var(--secondary-accent);
}

#chi-siamo {
  display: flex;
  flex-direction: column;
  height: 550px;
  background-image:
  linear-gradient(to bottom, var(--off-black) 0%, rgba(0,0,0,0) 50%),
  linear-gradient(to right, var(--off-black) 0%, rgba(0,0,0,0) 20%),
  url("/images/map.jpg");
  background-size: cover;
  background-position: bottom;
  text-align: center;
  align-items: center;
  box-sizing: content-box;
}

#map {
  position: absolute;
  right: -40px;
  left: -40px;
  width: 100%;
  z-index: -90;
}

#social-contacts {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  font-size: 26;
}

.social-btns a {
  display: inline-flex;
  list-style: none;
  margin-right:20px;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.1s ease;
}

.social-btns a:hover {
  transform: scale(1.1);
  border: 2px solid var(--secondary-accent);
}

.social-btns a:nth-of-type(1) {
  background-color: #3a589b;
}

.social-btns a:nth-of-type(2) {
  border-radius: 50%;
  background-image: linear-gradient( 36deg, rgb(204,85,0) 0%, rgb(230,0,184) 100%);
  background-image: -moz-linear-gradient( 36deg, rgb(204,85,0) 0%, rgb(230,0,184) 100%);
  background-image: -webkit-linear-gradient( 36deg, rgb(204,85,0) 0%, rgb(230,0,184) 100%);
  background-image: -ms-linear-gradient( 36deg, rgb(204,85,0) 0%, rgb(230,0,184) 100%);
}

.social-btns a:nth-of-type(3) {
  background-color: #f76c6f;
}

.social-btns a:nth-of-type(4) {
  background-color: #007ab9;
}

.social-btns a img {
  width: 20px;
  height: 20px;
}

#social-contacts .email-link {
  padding: 12px 50px 12px 12px;
  display: flex;
  align-items: center;
}

.email-link:hover {
  color: var(--secondary-accent);
}

#social-contacts a .icon-arrow {
  opacity: 1;
  right: 0;
}

#awards {
  margin-bottom: 0;
}

#awards-divider {
  border-top: 1px solid var(--secondary-accent);
  border-bottom: 0;
}

.badge-container {
  margin: 115px 0;
}

.badge-container img {
  margin-right: 115px;
  height: 115px;
  width: auto;
}
