.thanks-container {
  margin-bottom: 100px;

  h1 {
    margin-bottom: 30px;
  }
}

.thanks-container, .thanks-social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thanks-container hr {
  margin: 30px 0;
  color: transparent;
  border: none;
  height: 1px;
  background: linear-gradient(to right, var(--off-black) 0%, var(--secondary-accent) 30%, var(--secondary-accent) 70%, var(--off-black) 100%);
  width: 30%;
}

.thanks-success {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}

.thanks-message {
  max-width: 490px;
  padding: 0 12px;
}

.thanks-social {
  height: auto;

  p {
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-accent);
  }
}

.thanks-social-btns {
  margin: 40px 0 60px 0;
  height: auto;
  display: flex;
  flex-direction: column;
}

.thanks-social-btns a {
  position: relative;
  margin: 12px 5px;

  &:nth-of-type(1) {
    background-color: #3e5c9a;
  }

  &:nth-of-type(2) {
    background-color: #29a9e1;
  }

  &:nth-of-type(3) {
    background-color: #117bb8;
  }
}

.btn-secondary {
  background-color: var(--secondary-accent);
  color: var(--off-white);
  text-transform: uppercase;
  padding: 12px 60px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;

  img {
    height: 18px;
    width: auto;
    margin-right: 5px;
    transform: translateY(1px);
  }
}

.btn-secondary:hover {
  background-color: var(--secondary-accent-hover) !important;
}

@media only screen and (min-width: 900px) {
  .thanks-social-btns {
    flex-direction: row;
  }
}
