<section id="awards">
  <div class="badge-container">
    <img src="/images/badge_1.png" alt="">
    <img src="/images/badge_2.png" alt="">
    <img src="/images/badge_3.png" alt="">
    <img src="/images/badge_4.png" alt="">
  </div>
</section>
