<div class="card-container-half">
  <div class="card card-vert card-contact"
    style="background-image: url('<%= bgImg %>');"
    data-tilt
    data-tilt-perspective="2000">
    <h3><%= cardTitle %></h3>
    <div class="card-contact-phone">
      <div class="contact-phone-circle">
        <svg
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="17px" height="17px">
        <path fill-rule="evenodd"  fill="rgb(186, 154, 64)"
         d="M16.524,13.384 L13.929,10.784 C13.412,10.268 12.557,10.284 12.022,10.820 L10.715,12.130 C10.632,12.084 10.546,12.036 10.457,11.986 C9.631,11.528 8.501,10.899 7.312,9.707 C6.120,8.512 5.493,7.378 5.034,6.550 C4.985,6.463 4.939,6.378 4.893,6.298 L5.771,5.419 L6.202,4.987 C6.737,4.450 6.752,3.593 6.237,3.075 L3.642,0.474 C3.126,-0.042 2.270,-0.026 1.735,0.510 L1.003,1.248 L1.023,1.267 C0.778,1.581 0.573,1.943 0.421,2.333 C0.280,2.704 0.193,3.058 0.153,3.413 C-0.190,6.260 1.108,8.861 4.630,12.391 C9.499,17.270 13.423,16.901 13.592,16.883 C13.961,16.839 14.314,16.751 14.673,16.611 C15.059,16.460 15.420,16.255 15.732,16.010 L15.748,16.024 L16.489,15.297 C17.024,14.760 17.039,13.903 16.524,13.384 Z"/>
        </svg>
      </div><p><%= phone %></p>
    </div>
  </div>

</div>
