<div class="contact-container">
  <h4><strong>Are you interested?</strong> Contact us!</h4>
  <a class="btn-quotation-secondary-arrow" href="<%= config[:host] %>/en/request/quotation.html">REQUEST A QUOTE <span class="icon-arrow arrow-link"></span></a>
</div>
