<div class="contact-container">
  <h4><strong>Sei interessato?</strong> Contattaci!</h4>
  <a class="btn-quotation-secondary-arrow" href="#">RICHIEDI PREVENTIVO <span class="icon-arrow arrow-link"></span></a>
</div>
