<footer>
  <div>
    <p>® 2019 - <strong>DYME</strong></p>
    <ul>
      <li><a href="">Richiedi Preventivo</a></li>
      <li><a href="">Collabora da Artista</a></li>
      <li><a href="">Privacy e Cookie Policy</a></li>
      <li><a href="http://www.fsansalvadore.com/" target="_blank">Website Credits</a></li>
    </ul>
  </div>
</footer>
