<footer>
  <div>
    <p>® <%= Time.now.year %> - <strong>DYME</strong></p>
    <ul>
      <li><a href="<%= config[:host] %>/en/request/quotation.html">Request a quote</a></li>
      <li><a href="<%= config[:host] %>/en/request/collaborate.html">Collaborate as an Artist</a></li>
      <li><a href="<%= config[:host] %>/en/privacy.html">Privacy & Cookie Policy</a></li>
      <li><a href="http://www.fsansalvadore.com/" target="_blank">Website Credits</a></li>
    </ul>
  </div>
</footer>
