<footer>
  <div>
    <p>® <%= Time.now.year %> - <strong>DYME</strong></p>
    <ul>
      <li><a href="<%= config[:host] %>/request/quotation.html">Richiedi Preventivo</a></li>
      <li><a href="<%= config[:host] %>/request/collaborate.html">Collabora da Artista</a></li>
      <li><a href="<%= config[:host] %>/privacy.html">Privacy & Cookie Policy</a></li>
      <li><a href="http://www.fsansalvadore.com/" target="_blank">Website Credits</a></li>
    </ul>
  </div>
</footer>
