<div class="form-container">
  <div class="row">
    <form method="post" action="send_collaboration_en.php" class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="name" name="name" type="text" class="validate" required>
          <label for="name">NAME *</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="lastname" name="lastname" type="text" class="validate" required>
          <label for="lastname">LAST NAME *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">EMAIL *</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="genre" name="genre" type="text" class="validate">
          <label for="genre">MUSIC GENRE *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="message" name="message" class="materialize-textarea" required></textarea>
          <label for="message">BRIEF DESCRIPTION (REPERTOIRE, N. OF MUSICIANS, ETC…) *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select multiple name="region" required>
            <option value="" disabled>SELECT ONE OR MORE REGIONS</option>
            <option value="Abruzzo">Abruzzo</option>
            <option value="Basilicata">Basilicata</option>
            <option value="Calabria">Calabria</option>
            <option value="Campania">Campania</option>
            <option value="Emilia-Romagna">Emilia-Romagna</option>
            <option value="Friuli-Venezia-Giulia">Friuli-Venezia-Giulia</option>
            <option value="Lazio">Latium</option>
            <option value="Liguria">Liguria</option>
            <option value="Lombardia">Lombardy</option>
            <option value="Marche">Marches</option>
            <option value="Molise">Molise</option>
            <option value="Piemonte">Piedmont</option>
            <option value="Puglia">Apulia</option>
            <option value="Sardegna">Sardinia</option>
            <option value="Sicilia">Sicily</option>
            <option value="Toscana">Tuscany</option>
            <option value="Trentino-Alto-Adige">Trentino-Alto Adige</option>
            <option value="Umbria">Umbria</option>
            <option value="Valle-Aosta">Aosta Valley</option>
            <option value="Veneto">Veneto</option>
            <option value="Provence-Alpes-Cote-DAzur">Provence-Alpes-Côte D'Azur (Francia)</option>
          </select>
          <label>REGION *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="link1" name="link1" type="url" class="validate" required>
          <label for="link1">HELPFUL LINKS (AUDIO, VIDEO) *</label>
        </div>
      </div>
      <div class="row disabled-link" id="link-row-2">
        <div class="input-field col s12">
          <span class="remove-link">- Remove link</span>
          <input id="link2" name="link2" type="url">
          <label for="link2">HELPFUL LINKS (AUDIO, VIDEO)</label>
        </div>
      </div>
      <div class="row disabled-link" id="link-row-3">
        <div class="input-field col s12">
          <span class="remove-link">- Remove link</span>
          <input id="link3" name="link3" type="url">
          <label for="link3">HELPFUL LINKS (AUDIO, VIDEO)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <span class="add-field not-yet-abled">+ Add link</span>
        </div>
      </div>
      <div class="disclaimer">
        <div>
          <label class="switch">
            <input type="checkbox" required>
            <span>I agree to the <a href="<%= config[:host] %>/en/privacy.html"><u>handling of my data</u></a>. *</span>
          </label>
          <p>* Mandatory fields</p>
        </div>
        <div>
          <button type="submit" value="Invia" class="btn-submit-quotation">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
