<div class="formation-section">
  <div class="formation-title">
    <h3>Formazione</h3>
  </div>
  <div class="formation-list">
    <ul>
      <% list_a.each do |_key, value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
    <ul>
      <% list_b.each do |_key, value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
  </div>
</div>
