<div class="form-container">
  <div class="row">
    <form method="post" action="send_collaboration.php" class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="name" name="name" type="text" class="validate" required>
          <label for="name">NOME *</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="lastname" name="lastname" type="text" class="validate" required>
          <label for="lastname">COGNOME *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">EMAIL *</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="genre" name="genre" type="text" class="validate">
          <label for="genre">GENERE MUSICALE *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="message" name="message" class="materialize-textarea" required></textarea>
          <label for="message">DESCRIZIONE BREVE (REPERTORIO, ESPERIENZA, N. COMPONENTI, ECC) *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select name="region" required>
            <option value="" disabled selected>SELEZIONA UNA O PIU' REGIONI</option>
            <option value="Emilia-Romagna">Emilia-Romagna</option>
            <option value="Liguria">Liguria</option>
            <option value="Lombardia">Lombardia</option>
            <option value="Piemonte">Piemonte</option>
            <option value="Toscana">Toscana</option>
            <option value="Provence-Alpes-Cote-DAzur">Provence-Alpes-Côte D'Azur (Francia)</option>
          </select>
          <label>REGIONI DI COMPETENZA *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="link1" name="link1" type="url" class="validate" required>
          <label for="link1">LINK UTILI (AUDIO, VIDEO) *</label>
        </div>
      </div>
      <div class="row disabled-link" id="link-row-2">
        <div class="input-field col s12">
          <span class="remove-link">- Rimuovi link</span>
          <input id="link2" name="link2" type="url">
          <label for="link2">LINK UTILI (AUDIO, VIDEO)</label>
        </div>
      </div>
      <div class="row disabled-link" id="link-row-3">
        <div class="input-field col s12">
          <span class="remove-link">- Rimuovi link</span>
          <input id="link3" name="link3" type="url">
          <label for="link3">LINK UTILI (AUDIO, VIDEO)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <span class="add-field not-yet-abled">+ Aggiungi link</span>
        </div>
      </div>
      <div class="disclaimer">
        <div>
          <label class="switch">
            <input type="checkbox" required>
            <span>Acconsento al <a href="<%= config[:host] %>/privacy.html"><u>trattamento dei miei dati</u></a>. *</span>
          </label>
          <p>* Campi obbligatori</p>
        </div>
        <div>
          <button type="submit" value="Invia" class="btn-submit-quotation">Invia</button>
        </div>
      </div>
    </form>
  </div>
</div>
