<nav id="nav">
  <div id="nav-links">
    <ul>
      <li><a href="#chi-siamo">CHI SIAMO</a></li>
      <li><a href="#weddings">MATRIMONI</a></li>
      <li><a href="#events">EVENTI</a></li>
      <li><a href="#gallery">GALLERY</a></li>
      <li><a href="#contacts">CONTATTI</a></li>
    </ul>
  </div>
  <div id="nav-btn-group">
    <a id="btn-quotation" href="<%= config[:host] %>/request/quotation.html">RICHIEDI PREVENTIVO</a>
    <a id="btn-artist-collaboration" href="#">COLLABORA DA ARTISTA</a>
  </div>
</nav>
