<nav id="nav">
  <div class="nav-logo">
    <a href="<%= config[:host] %>/">
      <img src="/images/logo_DYME_MusicAgency.png" alt="">
    </a>
  </div>
  <div id="nav-links">
    <ul>
      <li><a class="smooth-scroll" href="#weddings">MATRIMONI</a></li>
      <li><a class="smooth-scroll" href="#events">EVENTI</a></li>
      <li><a class="smooth-scroll" href="#gallery">GALLERY</a></li>
      <li><a class="smooth-scroll" href="#chi-siamo">CHI SIAMO</a></li>
      <li><a class="smooth-scroll" href="#contacts">CONTATTI</a></li>
    </ul>
  </div>
  <div id="nav-btn-group">
    <a id="btn-quotation" href="<%= config[:host] %>/request/quotation.html">RICHIEDI PREVENTIVO</a>
    <a id="btn-artist-collaboration" href="<%= config[:host] %>/request/collaborate.html">COLLABORA DA ARTISTA</a>
  </div>
</nav>
