<nav id="nav">
  <div id="nav-links">
    <ul>
      <li><a href="#">CHI SIAMO</a></li>
      <li><a href="#">MATRIMONI</a></li>
      <li><a href="#">EVENTI</a></li>
      <li><a href="#">GALLERY</a></li>
      <li><a href="#">CONTATTI</a></li>
    </ul>
  </div>
  <div id="nav-btn-group">
    <a id="btn-quotation" href="#">RICHIEDI PREVENTIVO</a>
    <a id="btn-artist-collaboration" href="#">COLLABORA DA ARTISTA</a>
  </div>
</nav>
