<div id="page-header-bg"
style="background-image: linear-gradient(to top, var(--off-black) 0, rgba(0,0,0,0) 100%),
 url('<%= img_url %>');">
  <div class="top-page-btns">
    <div class="return-btn">
      <a href="#" class="home-link"><span class="left-arrow arrow-card"></span> TORNA ALLA HOME PAGE</a>
    </div>
    <a class="btn-quotation-secondary" href="#">RICHIEDI PREVENTIVO</a>
  </div>
  <div class="page-title-container">
    <div class="page-category">
      <p>DYME</p><p><%= category %></p>
    </div>
    <div class="page-title">
      <h1><span class="underline"><%= h1 %></span></h1>
      <p><%= subheadline %></p>
    </div>
  </div>
</div>
