<div class="form-top-bg">
</div>
<div class="thanks-container">
  <div class="form-logo-container">
    <img src="/images/logo_DYME_MusicAgency.png" alt="">
  </div>
  <p class="thanks-success">Inviato con successo</p>
  <h1><span class="underline">Grazie</span></h1>
  <p class="thanks-message"><%= message %></p>
  <hr>
  <div class="thanks-social">
    <p>Condividi DYME sui social!</p>
    <div class="thanks-social-btns">
      <a href="#" class="btn-secondary facebook"><img src="/images/logo_facebook.svg" alt="facebook"> facebook</a>
      <a href="#" class="btn-secondary twitter"><img src="/images/logo_twitter.svg" alt="twitter"> twitter</a>
      <a href="#" class="btn-secondary linkedin"><img src="/images/logo_linkedin.svg" alt="linkedin"> linkedin</a>
    </div>
  </div>
  <a href="<%= config[:host] %>/" class="btn-secondary">Torna alla home page</a>
</div>
