---
title: "Aperitivo | Matrimoni | DYME Music Agency"
description: "L’aperitivo merita la giusta colonna sonora"
---
<%= partial(:'partials/page-header', :locals => {
  :h1 => "APERITIVO",
  :category => "MATRIMONI",
  :subheadline => "L’aperitivo merita la giusta colonna sonora",
  :img_url => "/images/aperitivo_header.jpg"
} ) %>
<%= partial(:'partials/page-intro-paragraph', :locals => {
  :content => "<p>
Ogni momento della vostra giornata va sottolineato con una playlist musicale utile a immergere gli invitati nella <em>giusta atmosfera</em>.
 Dopo aver vissuto il momento più commovente della giornata, arriva l’ora di rilassarsi e dare inizio alla festa.<br>
La musica è un aspetto fondamentale da curare per tutta la durata del ricevimento: dal vostro arrivo in location, fino al congedo dei vostri ospiti.
<br><br>
L’aperitivo, in questo senso, è fondamentale: la musica <em>deve accompagnare l’ingresso degli ospiti</em>, metterli a proprio agio, creare la giusta atmosfera piacevole e rilassante, fornendo il giusto sottofondo per i saluti, gli auguri e le prime tartine e cocktails da gustare in piedi.
<br><br>
Che siate solo amanti dell’ottima musica o dei veri esperti che non vedono l’ora di esibire davanti ad amici e parenti la band scelta, conoscete senza dubbio il potenziale della musica che influenzerà l’umore dei vostri ospiti. I grandi vantaggi della musica dal vivo sono il grande <em>impatto scenico</em> e la suggestione che renderanno indimenticabile il ricevimento.
    </p>
    <br>
    <p>
La musica <em>Jazz, in Duo o in Trio</em>, per molti è la soluzione ideale, ma per chi non è convinto riguardo il genere, DYME offre numerose altre possibilità.   Quando si pensa a quale soluzione musicale affidarsi in vista delle nozze non si può omettere l’opzione <em>DJ-set</em>.  Quest’ultima è una scelta di tendenza <em>per matrimoni più informali e giovanili</em>, soprattutto estivi.  Una scelta che va incontro alle coppie <em>più raffinate, è la musica classica</em>. Perfetta per gli inguaribili romantici che mixeranno il loro discorso con frasi d’amore e aneddoti sulla loro storia, creerà un momento in grado di allietare la giornata e di affinare l’orecchio dei vostri ospiti.
<br><br>
Ogni formazione DYME è in grado di eseguire una playlist di <em>brani concordati</em> con gli sposi in modo da accontentare qualsiasi <em>gusto musicale</em>.    </p>"
}) %>
<%= partial(:'partials/formation-section', :locals => {
  :title => "Formazione",
  :list_a => {
    :a1 => "PIANOFORTE SOLO",
    :a2 => "PIANOFORTE E VIOLINO",
    :a3 => "ARPA E VIOLINO",
    :a4 => "PIANOFORTE E VOCE",
    :a5 => "DUO/TRIO JAZZ",
    :a6 => "TRIO PIANOFORTE VIOLINO E VOCE"
  },
  :list_b => {
    :b1 => "TRIO D’ARCHI",
    :b2 => "QUARTETTO D’ARCHI",
    :b3 => "PIANOBAR",
    :b4 => "DJ-SET",
    :b5 => "DJ-SET CON VOCALIST",
    :b6 => "PARTY BAND"
  }
}) %>
<%= partial(:'partials/contact-section') %>
