---
title: "DYME | Design Your Music Event - Music Agency for Events"
description: "DYME | Design Your Music Event - Music Agency for Events"
---
<div id="page-header-bg"
style="background-image: linear-gradient(to top, var(--off-black) 0, rgba(0,0,0,0) 100%),
 url('/images/ceremony_header.jpg');">
  <div class="top-page-btns">
    <div class="return-btn">
      <a href="" class="email-link"><div class="left-arrow arrow-card"></div> TORNA ALLA HOME PAGE</a>
    </div>
    <a class="btn-quotation-secondary" href="#">RICHIEDI PREVENTIVO</a>
  </div>
  <div class="page-title-container">
    <div class="page-category">
      <p>DYME</p><p>MATRIMONI</p>
    </div>
    <div class="page-title">
      <h1><span class="underline">CERIMONIA</span></h1>
      <p>Rendi indimenticabile il tuo giorno più importante</p>
    </div>
  </div>
</div>
