---
title: "Party | Matrimoni | DYME Music Agency"
description: "Scatenati con i tuoi invitati"
---
<%= partial(:'partials/page-header', :locals => {
  :h1 => "PARTY",
  :category => "MATRIMONI",
  :subheadline => "Scatenati con i tuoi invitati",
  :img_url => "/images/party_header.jpg"
} ) %>
<%= partial(:'partials/page-intro-paragraph', :locals => {
  :content => "<p>
Al termine del ricevimento vi attende il momento di <em>vero relax</em> in cui divertirvi con i vostri invitati.
<br><br>
La scelta della musica è importante per determinare il carattere dell’intrattenimento che volete offrire ai vostri ospiti, spronandoli a lasciarsi andare a balli sfrenati e scherzi divertenti, o invitandoli a sorseggiare un buon amaro con sottofondo rilassante.
<br><br>
Il <em>DJ set</em> è l’opzione giusta per chi vuole scatenarsi con gli amici con le più conosciute hit del momento, Musica Italiana o balli di gruppo. I Dj DYME <em>personalizzano la playlist</em> in base alle richieste degli sposi.
</p>
    <br>
    <p>
Per un intrattenimento soft, Dyme offre il meglio della <em>musica Jazz</em>, dal BeBop al Free Jazz fino allo Swing.  Raffinato sottofondo e coinvolgente intrattenimento adatto ad una elegante serata, il Jazz si presta perfettamente ai più vari contesti.  
<br><br>
Per le coppie più alternative la <em>Party band</em>, con un repertorio vastissimo che parte dal rock, al rock and roll, il pop, il blues, la disco e il funky, è l’intrattenimento che cercate per il vostro party, ideale per <em>stupire i vostri ospiti</em>, all’insegna della musica e del divertimento.
</p>"
}) %>
<%= partial(:'partials/formation-section', :locals => {
  :title => "Formazione",
  :list_a => {
    :a1 => "PIANOBAR",
    :a2 => "PIANOFORTE E CANTANTE",
    :a5 => "DUO/TRIO JAZZ"
  },
  :list_b => {
    :b1 => "PARTY BAND",
    :b4 => "DJ-SET",
    :b5 => "DJ-SET CON VOCALIST"
  }
}) %>
<%= partial(:'partials/contact-section') %>
