.contact-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
  background-image: linear-gradient(to top, rgb(153, 129, 61) 0, var(--secondary-accent) 100%);
}

.contact-container h4 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 30px;
}

.btn-quotation-secondary-arrow {
  background-color: var(--off-white);
  color: var(--off-black);
  display: flex;
  align-items: center;
  padding: 15px 50px 15px 20px;
  position: relative;
}
.btn-quotation-secondary-arrow:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-quotation-secondary-arrow .icon-arrow {
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .contact-container h4 {
    font-size: 50px;
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px;
    justify-content: space-between;
  }
}
