.form-container {
  margin: 100px 0;
  padding: 0 20px;

  input, textarea {
    color: var(--off-white);
    border-bottom: 1px solid var(--secondary-accent) !important;
    background-color: none ;
  }
  form {
    margin-bottom: 30px;
  }

  .disclaimer {
    display: block;

    p {
      margin-top: 20px;
      font-size: 18px;
    }
    div:first-of-type {
      flex: 1;
      margin-bottom: 30px;
    }

    a {
      color: var(--secondary-accent);
    }
  }

  button {
    width: 200px;
  }

  .btn-submit-quotation {
    background-color: var(--secondary-accent);
    border: none;
    color: var(--off-white);
    text-transform: uppercase;
    font-size: 20px;
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
      background-color: var(--secondary-accent-hover);
    }
  }
}

.input-field {
  position: relative;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  background-color: black;
  -webkit-background-color: black;
  -webkit-text-fill-color: var(--secondary-accent);
  -webkit-box-shadow: 0 0 0px 1000px var(--off-black) inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

span.add-field {
  color: var(--secondary-accent);
  margin-bottom: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.add-field:hover {
  opacity: 1;
}

span.remove-link {
  color: var(--secondary-accent);
  position: absolute;
  right: 20px;
  bottom: 35%;
  cursor: pointer;
  opacity: 0.8;
}

span.remove-link:hover {
  opacity: 1;
}

.disabled-link {
  display: none;
}

.not-yet-abled {
  opacity: 0.4 !important;
}

@media only screen and (min-width: 600px) {
  .form-container .disclaimer {
    display: flex;
  }
}
