#nav {
  position: fixed;
  top: 0;
  height: 100vh;
  bottom: 0;
  width: 280px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
  transition: left 0.3s ease;
  background-color: var(--off-black);
}

.nav-open {
  left: 0;
}

.nav-closed {
  left: -280px;
}

.nav-logo, .nav-logo-2 {
  position: absolute;
  left: 34px;
  top: 40px;
}

.nav-logo img, .nav-logo-2 img {
  width: 120px;
  height: auto;
}

.nav-logo img {
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show-logo {
  opacity: 1 !important;
}

#nav-links {
  flex: 1;
  line-height: 60px;
  display: flex;
  align-items: center;
}

#nav-links li {
  width: 200px;
  padding-left: 40px;
  font-size: 20px;
}

#nav-links li a {
  padding: 12px 30px 12px 0;
  transition: color 0.1s ease;
}

#nav-links li a:hover {
  color: var(--secondary-accent);
}

#nav-btn-group {
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#btn-quotation,
.btn-quotation-secondary,
.btn-quotation-secondary-arrow,
.btn-submit-quotation {
  padding: 12px 20px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}

#btn-quotation {
  position: relative;
  margin: 0 15%;
  color: var(--secondary-accent);
  border: 1px solid var(--secondary-accent);
}

#btn-quotation::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid var(--secondary-accent-40perc);
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 4s infinite;
  -webkit-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

#btn-quotation:hover {
  background-color: var(--secondary-accent);
  color: var(--off-black);
  bottom: 5px;
}

#btn-quotation:hover::after, #btn-quotation:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#btn-artist-collaboration {
  margin-top: 18px;
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.1s ease;
}

#btn-artist-collaboration:hover {
  color: var(--secondary-accent);
}

.menu-active {
  color: var(--secondary-accent) !important;
}

div#menu-icon {
  position: absolute;
  display: block;
  left: 290px;
  top: 10px;
  background-color: var(--secondary-accent);
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 42px;
  height: 42px;
  opacity: 0.8;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 26px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 26px rgba(0, 0, 0, 0.1)
}

div#menu-icon:hover {
  opacity: 1
}

.menu.icon {
  color: #fff;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 20px;
  height: 2px;
  left: 8.5px;
  background-color: #fff;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transition: all 0.3s cubic-bezier(.77, .01, .31, .99);
  -o-transition: all 0.3s cubic-bezier(.77, .01, .31, .99);
  transition: all 0.3s cubic-bezier(.77, .01, .31, .99)
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #fff;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: all 0.3s cubic-bezier(.77, .01, .31, .99);
  -o-transition: all 0.3s cubic-bezier(.77, .01, .31, .99);
  transition: all 0.3s cubic-bezier(.77, .01, .31, .99)
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 3.7px;
  width: 17px;
  height: 2px;
  background-color: #fff
}

.close.icon {
  color: #fff;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 23px;
  left: 7.5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 2px;
  background-color: #fff;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: all 0.3s cubic-bezier(.77, .01, .31, .99);
  -o-transition: all 0.3s cubic-bezier(.77, .01, .31, .99);
  transition: all 0.3s cubic-bezier(.77, .01, .31, .99)
}

.close.icon:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  -webkit-transform: rotate(-90deg) translate(-8px, 0px);
  -ms-transform: rotate(-90deg) translate(-8px, 0px);
  transform: rotate(-90deg) translate(-8px, 0px);
  width: 23px;
  height: 2px;
  background-color: #fff;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: all 0.5s cubic-bezier(.77, .01, .31, .99);
  -o-transition: all 0.5s cubic-bezier(.77, .01, .31, .99);
  transition: all 0.5s cubic-bezier(.77, .01, .31, .99)
}

.close.icon:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 7px;
  width: 0px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(.77, .01, .31, .99);
  -o-transition: all 0.3s cubic-bezier(.77, .01, .31, .99);
  transition: all 0.3s cubic-bezier(.77, .01, .31, .99)
}

@media only screen and (min-width: 1300px) {
  #nav {
    left: 0;
    background-color: transparent;
  }

  #menu-icon {
    display: none !important;
  }
}
