<!-- ---
title: DYME | Design Your Music Event - Music Agency for Events
description: DYME | Design Your Music Event - Music Agency for Events
--- -->
<nav id="nav">
  <div>
    <ul>
      <li>CHI SIAMO</li>
      <li>MATRIMONI</li>
      <li>EVENTI</li>
      <li>GALLERY</li>
      <li>CONTATTI</li>
    </ul>
  </div>
  <div>
    <a id="btn-quotation" href="#">RICHIEDI PREVENTIVO</a>
    <a id="btn-artist-collaboration" href="#">COLLABORA DA ARTISTA</a>
  </div>
</nav>
<main>
  <div id="logo-container">
    <div id="logo-group">
      <img src="" alt="DYME Music Agency">
      <div id="main-title-group">
        <h1>Progetta la tua musica<br/>con noi</h1>
        <h2>Siamo un team di <strong>musicisti professionisti</strong> capaci di trovare soluzioni musicali adatte ad ogni occasione.</h2>
      </div>
    </div>
  </div>
  <section>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsa saepe autem tempore voluptatem, ducimus quasi sequi accusantium quaerat molestias, voluptates ullam beatae doloribus maiores quo voluptate similique soluta, esse praesentium officiis sint error possimus quos. Qui rerum nesciunt aperiam accusamus placeat labore id dolore praesentium quos amet eum fugiat doloremque nobis maiores cumque neque fugit hic dignissimos molestiae rem debitis deserunt, natus illo. Sequi similique, hic omnis deleniti amet itaque. Rerum, sunt laboriosam, culpa eligendi repudiandae esse perspiciatis quidem placeat rem. Iure nulla, sit perferendis. Pariatur provident quas assumenda expedita quam nesciunt fugit, ratione incidunt nobis, laborum dolorem, tempore!</p>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsa saepe autem tempore voluptatem, ducimus quasi sequi accusantium quaerat molestias, voluptates ullam beatae doloribus maiores quo voluptate similique soluta, esse praesentium officiis sint error possimus quos. Qui rerum nesciunt aperiam accusamus placeat labore id dolore praesentium quos amet eum fugiat doloremque nobis maiores cumque neque fugit hic dignissimos molestiae rem debitis deserunt, natus illo. Sequi similique, hic omnis deleniti amet itaque. Rerum, sunt laboriosam, culpa eligendi repudiandae esse perspiciatis quidem placeat rem. Iure nulla, sit perferendis. Pariatur provident quas assumenda expedita quam nesciunt fugit, ratione incidunt nobis, laborum dolorem, tempore!</p>
    </div>
  </section>
</main>
