---
title: "505 | DYME Music Agency"
description: "Abbiamo riscontrato un problema interno, ci scusiamo."
---
<div class="form-top-bg">
</div>
<div id="form-main-container">
  <div class="form-logo-container">
    <img src="/images/logo_DYME_MusicAgency.png" alt="">
  </div>
  <div class="form-title-container">
    <div class="form-category">
      <p>Errore server</p>
    </div>
    <div class="form-title">
      <h1><span class="underline">505</span></h1>
      <p class="page-paragraph">Abbiamo riscontrato un problema interno, ci scusiamo.</p>
      <a href="<%= config[:host] %>/" class="btn-secondary">Torna alla home page</a>
      </p>
    </div>
  </div>
</div>

