---
title: "404 | DYME Music Agency"
description: "La pagina che cerchi non si trova."
---
<div class="form-top-bg">
</div>
<div id="form-main-container">
  <div class="form-logo-container">
    <img src="/images/logo_DYME_MusicAgency.png" alt="">
  </div>
  <div class="form-title-container">
    <div class="form-category">
      <a href="<%= config[:host] %>/"><p>DYME</p></a><p>Errore</p>
    </div>
    <div class="form-title">
      <h1><span class="underline">404</span></h1>
      <p class="page-paragraph">La pagina che stai cercando non si trova.</p>
      <a href="<%= config[:host] %>/" class="btn-secondary">Torna alla home page</a>
      </p>
    </div>
  </div>
</div>

